@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather|Josefin+Slab|Oswald|Bree+Serif');

$fontFamily: 'Merriweather', Helvetica, sans-serif;

$colorBg: #EEE8D6;
$colorFont: #022933;
$colorHeading1: #FFBA00;
$colorSectionFont: #0076A3;
$colorHeading2: #6D73C2;
$colorHeading3: #548C27;
$colorHeading4: #D14348;
$colorTable: #F39856;